@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    color: black;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    margin: 20px;
}

.products-table {
    width: 80%;
    border-spacing: 0;
}

.products-table td, .categories-table td, .orders-table td {
    border: solid dimgrey;
    border-width: 0 0 2px 0;
    padding: 5px;
    vertical-align: center;
}

.products-table th, .categories-table th, .orders-table th {
    text-align: center;
    font-weight: bold;
    border: solid dimgrey;
    border-width: 0 0 4px 0;
    white-space: nowrap;
}

.categories-table th.header-left {
    text-align: left;
}

.orders-table th.header-right, td.col-order-qty {
    text-align: right;
}

.products-table tfoot td {
    text-align: center;
    font-weight: bold;
    border-width: 0;
}

td.col-id, td.col-price, td.col-qty, td.col-cart, td.col-edit, td.col-sum {
    text-align: center;
}

.col-id, .col-qty, .col-cart, .col-edit {
    width: 1%;
    white-space: nowrap;
}

.col-price, .col-sum {
    width: 10%;
    white-space: nowrap;
}

.orders-table .col-sum {
    width: 20%;
}

.col-name,.col-category {
    width: 20%;
}

.productview-table, .orders-table, .categories-table {
    width: 40%;
    border-spacing: 0;
}

.col-label, .col-value {
    width: 50%;
}

.col-value, .col-order-qty {
    text-align: right;
}

.products-table tr:hover, .categories-table tr:hover, .orders-table tr:hover {
    background-color: #e9e9e9;
}

.products-table thead tr:hover, .products-table tfoot tr:hover,
.categories-table thead tr:hover, .orders-table thead tr:hover {
    background-color: transparent;
}

.product-link, .product-link:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.product-link:hover {
    color: dimgrey;
}

.topmenu {
    margin: 20px 0;
}

.topmenu td {
    padding: 10px;
    width: 20%;
    text-align: center;
}

.topmenu a {
    font-weight: bold;
    color: dimgrey;
    text-decoration: none;
}

.topmenu a:visited {
    color: dimgrey;
}

.topmenu a:hover {
    color: black;
}

.cmd-button, .image-button {
    border-radius: 5px;
    background-color: #cbcbcb;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.cmd-button {
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    text-decoration: none;
}

.image-button {
    padding: 5px 5px;
    margin: 2px 2px;
    width: 24px;
    height: 24px;
}

.cmd-button:hover, .image-button:hover {
    opacity: 1;
    transition: 0.3s;
}

.cmd-button:focus, .image-button:focus {
    outline: 0;
}

.quantity-input, .text-input, .new-category-input, .product-edit-input {
    height: 26px;
    border-radius: 5px;
    border: 2px solid dimgrey;
    transition: 0.3s;
    font-size: 14px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    vertical-align: center;
}

.quantity-input {
    width: 60px;
    text-align: center;
}

.text-input {
    width: 90%;
    text-align: left;
}

.new-category-input{
    width: 300px;
}

.product-edit-input{
    width: 200px;
}

.quantity-input:hover, .text-input:hover, .new-category-input:hover, .product-edit-input:hover
.quantity-input:focus, .text-input:focus, .new-category-input:focus, .product-edit-input:focus {
    outline: 0;
    border: 2px solid black;
}

.flex-cell {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.productview-table .flex-cell {
    justify-content: flex-end;
}

.categories-table .flex-cell {
    justify-content: flex-start;
}

.col-cat {
    width: 60%;
    text-align: left;
    white-space: nowrap;
}